{% include base_path %}

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    {% if include.type == "grid" and teaser %}
      <div class="archive__item-teaser">
        <img src=
          {% if teaser contains "://" %}
            "{{ teaser }}"
          {% else %}
            "{{ teaser | prepend: "/images/" | prepend: base_path }}"
          {% endif %}
          alt="">
      </div>
    {% endif %}


    <p itemprop="headline">
      <strong>{{ post.title }}</strong>
      {% if post.award %}<strong style="color:#d05ce3;"> ({{ post.award }})</strong>{% endif %}
      <br>
      {% assign has_cofirst = false %}{% for author in post.authors %}{% if author contains "*" %}{% assign has_cofirst = true %}{% assign clean_author = author | remove: "*" %}{% else %}{% assign clean_author = author %}{% endif %}{% if clean_author contains "Youran Sun" %}<strong>{{ clean_author }}</strong>{% else %}{{ clean_author }}{% endif %}{% if author contains "*" %}<sup>*</sup>{% endif %}{% unless forloop.last %}, {% else %}.{% endunless %}{% endfor %}{% if has_cofirst %} <span class="publication-note" style="color:#777;">(* co-first author)</span>{% endif %}
      <br>
      {% if post.status == "To appear" %}
        <i>To appear in {{ post.venue }}</i>{% if post.venue_short %}. <strong style="color:#1a73e8;">({{ post.venue_short }})</strong>{% else %}.{% endif %}
      {% else %}
        <i>{{ post.venue }}</i>{% if post.volume %}, {{ post.volume }}{% if post.issue %}({{ post.issue }}){% endif %}{% endif %}{% if post.pages %}, pp. {{ post.pages }}{% endif %}, {{ post.date | date: "%Y" }}.{% if post.venue_short %} <strong style="color:#1a73e8;">({{ post.venue_short }})</strong>{% endif %}
      {% endif %}
      <br>
      {% if post.doi or post.pdf or post.arxiv or post.code %}
        <span class="publication-links">
        {% if post.doi %}
          <a href="{{ post.doi }}">[DOI]</a>
        {% endif %}
        {% if post.pdf %}
          {% if post.doi %}&nbsp;&nbsp;{% endif %}
          <a href="{{ post.pdf }}">[Paper]</a>
        {% endif %}
        {% if post.arxiv %}
          {% if post.doi or post.pdf %}&nbsp;&nbsp;{% endif %}
          <a href="{{ post.arxiv }}">[arXiv]</a>
        {% endif %}
        {% if post.code %}
          {% if post.doi or post.pdf or post.arxiv %}&nbsp;&nbsp;{% endif %}
          <a href="{{ post.code }}">[Code]</a>
        {% endif %}
        </span>
      {% endif %}
    </p>
    
    <!-- {% if post.read_time %}
      <p class="page__meta"><i class="fa fa-clock" aria-hidden="true"></i> {% include read-time.html %}</p>
    {% endif %} -->

        <!-- {% if post.collection == 'teaching' %}
          <p> {{ post.type }}, <i>{{ post.venue }}</i>, {{ post.date | default: "1900-01-01" | date: "%Y" }} </p>
        {% elsif post.date %}
         <p class="page__date"><strong><i class="fa fa-fw fa-calendar" aria-hidden="true"></i> {{ site.data.ui-text[site.locale].date_label | default: "Published:" }}</strong> <time datetime="{{ post.date | default: "1900-01-01" | date_to_xmlschema }}">{{ post.date | default: "1900-01-01" | date: "%B %d, %Y" }}</time></p>
        {% endif %} -->

    {% if post.excerpt and site.read_more != 'enabled' %}
    <p class="archive__item-excerpt" itemprop="description">{{ post.excerpt | markdownify }}</p>
    {% elsif post.excerpt and site.read_more == 'enabled' %}
    <p class="archive__item-excerpt" itemprop="description"><p>{{ post.excerpt | markdownify | remove: '<p>' | remove: '</p>' }}<strong><a href="{{ base_path }}{{ post.url }}" rel="permalink"> Read more</a></strong></p></p>
    {% endif %}
  </article>
</div>
